body {
    font-family: "Cormorant", serif;
    font-weight: 400;
    color: #fff;
    overflow: auto;
    background-image: url("img/bk-sparkImg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overflow{
    overflow: hidden;

    &--about{
        @media screen and (max-width: 768px) {
            overflow: auto;
        }
    }
    &--members{
      @media screen and (max-width: 767px) {
          overflow: auto;
      }
  }
}

header {
    width: 80%;
    display: flex;
    margin: 20px auto 0 auto;

    h1 {
        margin: 0;
    }
    .logo {
        max-width: 150px;
        width: 100%;
        position: relative;
        z-index: 1;

        img {
        width: 100%;
        }
    }

    nav {
        width: 100%;
        ul {
        display: flex;
        width: 50%;
        margin: 25px 0 0 auto;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            width: 80%;
        }
        li {
            color: #fff;
            list-style-type: none;
            font-size: 18px;
            a{
            color: #fff;
            text-decoration: none;
            }
        }
        }
    }

    .spMenu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .spMenuBtn{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        color: #fff;
    }
}

main{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 12%;

    @media screen and (max-width: 767px) {
       margin-top: 25%;
    }
}


section{
    margin: 0 10%;
}

@media screen and (max-width: 767px) {
    .video {
        max-width: 960px;
    }
}

.sp-none{
    display: block;
}

.pc-none{
    display: none;
}

@media screen and (max-width:768px){
    .sp-none{
        display: none;
    }

    .pc-none{
        display: block;
    }
}

nav {
      nav {display: inline;}
    }
    
  
  .menu__box {
      flex-direction: column;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      margin: -600px 0 0 0;
      padding: 15px 0;
      text-align: center;
      background-color: #2d303a;
      box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
      z-index: 98;
      transition-duration: 0.5s;
  }
  
  .red {color: #f06c64;}
  
  .menu__item {
      display: block;
      padding: 12px 24px;
      color: #ffffff;
      font-size: 18px;
      transition-duration: 0.5s;
  
      &:hover {background-color: #4f5464;}
    
  }
  
  #menu__toggle {
    opacity: 0;
    
    &:checked ~ .menu__btn > span {
      transform: rotate(45deg);
      }
  
    &:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
      background: #f06c64;
    }
  
      &:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        background: #f06c64;
    }
  
      &:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        margin: 0;
    }
  
  }
  
  .menu__btn {
    transition-duration: 0.25s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 99;
    
    span {
        display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;

      
      &::before {
          display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;

        content: '';
        top: -8px;
        transition-duration: 0.25s;
      }
  
      &::after {
          display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;

        content: '';
        top: 8px;
        transition-duration: 0.25s;
      }
    
    }
}