#h-member{
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 4;
}

#m-member{
  margin-top: 3%;
}

.m-memberList {
  position: fixed;
  left: 20%;
  top: 15%;
  z-index: 3;
  width: 60%;
  text-align: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 0;
    @media screen and (max-width: 767px) {
      margin: 0;
    }
    li {
      position: relative;
      list-style-type: none;
      width: 25%;
      height: 40px;
      .bk-black{
        background-color: rgba(0,0,0,0.6);
        height: 40px;
        &.active {
          background-color:rgba(0,0,0,0);
        }
      }
      &:nth-of-type(1){
        background-image: url("/vesta/img/algonaut.png");
        background-size: cover;
        background-position-y: -50px;
        @media screen and (max-width: 768px) {
          background-position-y: -30px;
        }
        @media screen and (max-width: 767px) {
          background-position-y: -5px;
        }
      }
      &:nth-of-type(2){
        background-image: url("/vesta/img/Neru.png");
        background-size: cover;
        background-position-y: -50px;
        @media screen and (max-width: 768px) {
          background-position-y: -30px;
        }
        @media screen and (max-width: 767px){
          background-position-y: -5px;
        }
      }
      &:nth-of-type(3){
        background-image: url("/vesta/img/noTitle.png");
        background-size: cover;
        background-position-y: -50px;
        @media screen and (max-width: 768px) {
          background-position-y: -30px;
        }
        @media screen and (max-width: 767px) {
          background-position-y: 0px;
        }
      }
      &:nth-of-type(4){
        background-image: url("/vesta/img/rqin.png");
        background-size: cover;
        background-position-y: -50px;
        @media screen and (max-width: 768px) {
          background-position-y: -30px;
        }
        @media screen and (max-width: 767px) {
          background-position-y: 0px;
        }
      }
      &:nth-of-type(5){
        background-image: url("/vesta/img/izayoi.png");
        background-size: cover;
        background-position-y: -50px;
        @media screen and (max-width: 768px) {
          background-position-y: -30px;
        }
        @media screen and (max-width: 767px){
          background-position-y: 0px;
        }
      }
      a {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        visibility: visible;

        @media screen and (max-width: 767px) {
          font-size: 0;
        }
      }
    }
  }
}

.scroll-wrapper {
  height: 500vh; /* スクロール範囲 */
  width: 100%;
  @media screen and (max-width:1025px) {
    height: 600vh;
  }
}

.fixed-wrapper {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--member {
  margin: 15% 5% 0 10%;
  opacity: 0;
  transform: translateY(500px);
  transition: opacity 1s ease, transform 1s ease;
  position: absolute;
  @media screen and (max-width: 768px) {
    margin: 20% 5% 0 10%;
  }
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.section__wrap{
  &--members{
    display: flex;
    @media screen and (max-width: 767px){
      flex-direction: column;
      margin-top: 25%;
    }
    .section__img{
      width: 100%;
      img{
        width: 75%;
        margin: auto;
        @media screen and (max-width: 768px) {
          margin: 50px auto;
        }
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
    .section__txt{
      width: 100%;
      h2{
        font-size: 36px;
      }
      &__description{
        margin-top: 5%;
        p{
          text-align: left;
          font-size: 12px;
        }
      }

      &__result{
        margin-top: 5%;
        dl{
          text-align: left;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          font-size: 18px;
          &:first-of-type{
            margin-top: 20px;
          }
        }
      }

      &__movie{
        margin-top: 5%;
        img{
          margin: auto;

          @media screen and (max-width:1025px) {
            width: 75%;
          }

          @media screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }
  }